Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, npm run lint:css -- --write

update action
  .github/workflows/pull-request-check.yml
Due: none

Fix analytics
  utils/analytics.jsx
Due: npm run lint:js -- --fix

Fix analytics #3
  utils/analytics.jsx
Due: npm run lint:js -- --fix

Fix analytics #4
  utils/analytics.jsx
Due: npm run lint:js -- --fix

Fix analytics #5
  utils/analytics.jsx
Due: npm run lint:js -- --fix

CSP config update
  csp.config.js
Due: npm run lint:js -- --fix

sampleRate change
  utils/analytics.jsx
Due: npm run lint:js -- --fix

Title change
  utils/analytics.jsx
Due: npm run lint:js -- --fix

Add event
  utils/analytics.jsx
Due: npm run lint:js -- --fix

Change event
  utils/analytics.jsx
Due: npm run lint:js -- --fix

Title change #2
  utils/analytics.jsx
Due: npm run lint:js -- --fix

add logo and data in reader
  .DS_Store
  .lintstagedrc
  package-lock.json
  reader/components/main-area/index.jsx
  reader/components/recommender/index.jsx
  reader/components/viewer/index.jsx
  reader/components/viewer/styles.module.css
  reader/index.jsx
  reader/utils/helpers.js
Due: npm run lint:js -- --fix, npm run lint:css -- --write

package.json that builds on local
  .lintstagedrc
  package-lock.json
  package.json
  reader/components/outline-sidebar/outline-renderer.jsx
  reader/components/viewer/index.jsx
  reader/lib/pdf-js/webpack.js
Due: npm run lint:js -- --fix, npm run lint:css -- --write

core reader header
  reader/components/header/index.jsx
Due: npm run lint:js -- --fix

core reader header (#334)
  reader/components/header/index.jsx
Due: npm run lint:js -- --fix

missing changes
  .lintstagedrc
  reader/components/highlighter/highlights.jsx
  reader/lib/pdf-js/webpack.js
Due: npm run lint:js -- --fix

CORE-4567: reader logo section
  .lintstagedrc
  package-lock.json
  package.json
  reader/components/logo/index.jsx
  reader/components/logo/styles.module.css
  reader/components/main-area/index.jsx
  reader/components/outline-sidebar/outline-renderer.jsx
  reader/components/recommender/index.jsx
  reader/components/viewer/index.jsx
  reader/components/viewer/styles.module.css
  reader/index.jsx
  reader/utils/helpers.js
Due: npm run lint:js -- --fix, npm run lint:css -- --write

CORE-4567: reader logo section (#335)
  .lintstagedrc
  package-lock.json
  package.json
  reader/components/logo/index.jsx
  reader/components/logo/styles.module.css
  reader/components/main-area/index.jsx
  reader/components/outline-sidebar/outline-renderer.jsx
  reader/components/recommender/index.jsx
  reader/components/viewer/index.jsx
  reader/components/viewer/styles.module.css
  reader/index.jsx
  reader/utils/helpers.js
Due: npm run lint:js -- --fix, npm run lint:css -- --write

Create LICENSE
  LICENSE
Due: none

Package update
  package-lock.json
  package.json
Due: npm run lint:css -- --write

Package update
  package-lock.json
Due: npm run lint:css -- --write

Package update
  package.json
Due: npm run lint:css -- --write

Package.json rollback
  package-lock.json
  package.json
Due: npm run lint:css -- --write

Package.json update
  package-lock.json
  package.json
Due: npm run lint:css -- --write

Ga4 mc (#332)
  .github/workflows/pull-request-check.yml
  csp.config.js
  package-lock.json
  package.json
  utils/analytics.jsx
Due: npm run lint:js -- --fix, npm run lint:css -- --write

make old pipeline manual
  .github/workflows/azure-deployment_core-reader.yml
Due: none

create deployment pipeline
  .github/workflows/azure-deployment-new.yml
Due: none

update actions versions
  .github/workflows/azure-deployment-new.yml
Due: none

change pipeline
  .github/workflows/azure-deployment-new.yml
  .github/workflows/pull-request-check.yml
Due: none

update npm token
  .github/workflows/azure-deployment-new.yml
Due: none

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/azure-deployment_reader.yml
Due: none

update deploying
  .github/workflows/azure-deployment-new.yml
  .github/workflows/azure-deployment_reader.yml
Due: none

Delete .github/ISSUE_TEMPLATE directory
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update Dockerfile
  Dockerfile
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Delete .github/workflows/pull-request-check.yml
  .github/workflows/pull-request-check.yml
Due: none

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx}
  npm run lint:css -- --write: any of: *.{json,scss,css}
