Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

Rename components (#91)
  reader/components/downloader/Downloader.jsx
  reader/components/enhancement-sidebar/EnhancementSidebar.jsx
  reader/components/enhancement-sidebar/EnhancementSidebar.scss
  reader/components/header/Header.jsx
  reader/components/highlighter/Highlighter.jsx
  reader/components/highlighter/Highlighter.scss
  reader/components/highlighter/components/ContextMenu.jsx
  reader/components/highlighter/components/Highlight.jsx
  reader/components/highlighter/components/Highlights.jsx
  reader/components/highlighter/utils/layer.js
  reader/components/highlighter/utils/rects.js
  reader/components/highlighter/utils/utils.js
  reader/components/main-area/MainArea.jsx
  reader/components/outline-sidebar/OutlineSidebar.jsx
  reader/components/outline-sidebar/OutlineSidebar.scss
  reader/components/outline-sidebar/assets/expand.svg
  reader/components/outline-sidebar/renderers/OutlineRenderer.jsx
  reader/components/print/Print.jsx
  reader/components/print/Print.scss
  reader/components/recommender/Recommender.jsx
  reader/components/recommender/Recommender.scss
  reader/components/thumbnails-sidebar/ThumbnailSidebar.jsx
  reader/components/thumbnails-sidebar/ThumbnailSidebar.scss
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
  reader/components/viewer/Viewer.jsx
  reader/components/viewer/Viewer.scss
  reader/index.jsx
Due: yarn format, prettier --write

Rename Layout to match all others modules
  reader/components/layout/Layout.jsx
  reader/components/layout/Layout.scss
  reader/index.jsx
Due: yarn format, prettier --write

Global modal style
  reader/components/modal/Modal.jsx
  reader/components/modal/Modal.scss
  reader/components/print/Print.jsx
Due: yarn format, prettier --write

Remove lodash
  package.json
  reader/components/enhancement-sidebar/EnhancementSidebar.jsx
  reader/components/highlighter/Highlighter.jsx
  reader/components/highlighter/components/ContextMenu.jsx
  reader/components/highlighter/utils/rects.js
  reader/utils/debounce.js
  reader/utils/throttle.js
Due: yarn format, prettier --write

Remove unused css
  reader/components/bootstrap/_button-group.scss
  reader/components/bootstrap/_core.scss
  reader/components/bootstrap/_lists.scss
  reader/components/bootstrap/_mixins.scss
  reader/components/bootstrap/_nav.scss
  reader/components/bootstrap/_navbar.scss
  reader/components/bootstrap/bootstrap.scss
  reader/components/bootstrap/mixins/_sections.scss
Due: prettier --write

Remove minimist package
  package.json
Due: prettier --write

Fixes after rebase
  reader/components/enhancement-sidebar/EnhancementSidebar.jsx
  reader/components/highlighter/components/ContextMenu.jsx
  reader/components/print/Print.jsx
Due: yarn format

Remove unused stuff (#92)
  package.json
  reader/components/bootstrap/_button-group.scss
  reader/components/bootstrap/_core.scss
  reader/components/bootstrap/_lists.scss
  reader/components/bootstrap/_mixins.scss
  reader/components/bootstrap/_nav.scss
  reader/components/bootstrap/_navbar.scss
  reader/components/bootstrap/bootstrap.scss
  reader/components/bootstrap/mixins/_sections.scss
  reader/components/enhancement-sidebar/EnhancementSidebar.jsx
  reader/components/highlighter/Highlighter.jsx
  reader/components/highlighter/components/ContextMenu.jsx
  reader/components/highlighter/utils/rects.js
  reader/components/layout/Layout.jsx
  reader/components/layout/Layout.scss
  reader/components/modal/Modal.jsx
  reader/components/modal/Modal.scss
  reader/components/print/Print.jsx
  reader/index.jsx
  reader/utils/debounce.js
  reader/utils/throttle.js
Due: yarn format, prettier --write

Allow to change pageNumber
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
Due: yarn format, prettier --write

Use one `useReducer` instead of multiple `useStates`
  reader/components/toolbar/Toolbar.jsx
Due: yarn format

Code adjustments
  reader/components/enhancement-sidebar/EnhancementSidebar.jsx
  reader/components/highlighter/components/ContextMenu.jsx
  reader/components/highlighter/utils/rects.js
Due: yarn format

Return loader back
  reader/components/bootstrap/_core.scss
Due: prettier --write

Add label for input
  reader/components/toolbar/Toolbar.jsx
Due: yarn format

Remove CORE_API_KEY global variable
  .env.example
  .eslintrc.yml
  next.config.js
  now.json
Due: yarn format, prettier --write

Add cite button in header
  reader/components/header/Header.jsx
  reader/components/header/Header.scss
  reader/store/GlobalProvider.jsx
Due: yarn format, prettier --write

Cite modal
  pages/[pdfId].jsx
  reader/components/bootstrap/_variables.scss
  reader/components/cite-modal/CiteModal.jsx
  reader/components/cite-modal/CiteModal.scss
  reader/components/cite-modal/citations-generator/APA.js
  reader/components/cite-modal/citations-generator/BibTeX.js
  reader/components/cite-modal/citations-generator/ISO690.js
  reader/components/cite-modal/citations-generator/MLA.js
  reader/components/cite-modal/citations-generator/index.js
  reader/components/header/Header.jsx
  reader/components/icons/Icon.jsx
  reader/components/icons/assets/cite.svg
  reader/components/modal/Modal.jsx
  reader/index.jsx
  reader/store/metadata/reducers.js
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
Due: yarn format, prettier --write

Show page number input only onHover
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
Due: yarn format, prettier --write

Fix infinite redirection loop
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Improve page changing input look and behavior
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
Due: yarn format, prettier --write

Fix scroll
  .env.example
  reader/components/main-area/MainArea.jsx
  reader/components/thumbnails-sidebar/ThumbnailSidebar.jsx
  reader/components/toolbar/Toolbar.jsx
  reader/components/viewer/Viewer.jsx
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
Due: yarn format

Add input for page number (#104)
  .env.example
  .eslintrc.yml
  next.config.js
  now.json
  reader/components/bootstrap/_core.scss
  reader/components/enhancement-sidebar/EnhancementSidebar.jsx
  reader/components/highlighter/components/ContextMenu.jsx
  reader/components/highlighter/utils/rects.js
  reader/components/main-area/MainArea.jsx
  reader/components/pdf-loader/PDFLoader.jsx
  reader/components/thumbnails-sidebar/ThumbnailSidebar.jsx
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
  reader/components/viewer/Viewer.jsx
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
Due: yarn format, prettier --write

Create Action for Pull Request Check
  .github/workflows/pull-request-check.yml
Due: none

Create Action for Pull Request Check (#105)
  .github/workflows/pull-request-check.yml
Due: none

Show missing outline message
  reader/components/outline-sidebar/OutlineSidebar.jsx
  reader/components/outline-sidebar/OutlineSidebar.scss
Due: yarn format, prettier --write

Fixes after review
  reader/components/outline-sidebar/OutlineSidebar.jsx
  reader/components/outline-sidebar/OutlineSidebar.scss
  reader/components/recommender/Recommender.scss
Due: yarn format, prettier --write

Show missing outline message (#106)
  reader/components/outline-sidebar/OutlineSidebar.jsx
  reader/components/outline-sidebar/OutlineSidebar.scss
  reader/components/recommender/Recommender.scss
Due: yarn format, prettier --write

Fix outline missing
  reader/components/outline-sidebar/OutlineSidebar.jsx
Due: yarn format

Switch to npm & install @oacore/api
  .github/workflows/pull-request-check.yml
  .npmrc
  now.json
  package-lock.json
  package.json
  reader/components/highlighter/components/Highlights.jsx
  reader/utils/getArticleMetadata.js
  yarn.lock
Due: yarn format, prettier --write

Update README.md
  README.md
Due: none

Switch to npm & install @oacore/api (#107)
  .github/workflows/pull-request-check.yml
  .npmrc
  README.md
  now.json
  package-lock.json
  package.json
  reader/components/highlighter/components/Highlights.jsx
  reader/utils/getArticleMetadata.js
  yarn.lock
Due: yarn format, prettier --write

Sentry capture
  pages/[pdfId].jsx
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Fix meta tags
  pages/[pdfId].jsx
Due: yarn format

Fix meta tags (#114)
  pages/[pdfId].jsx
Due: yarn format

Fix asset path
  utils/helpers.js
Due: yarn format

Update helpers.js
  utils/helpers.js
Due: yarn format

Remove RELEASE_ID
  utils/sentry.js
Due: yarn format

Add source map loader
  next.config.js
  package-lock.json
  package.json
Due: yarn format, prettier --write

Add a license
  LICENSE
Due: none

Add source map loader (#115)
  next.config.js
  package-lock.json
  package.json
Due: yarn format, prettier --write

Bump @oacore/api
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
