Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Repeat API call on 'socket hang up' (#133)
  package-lock.json
  package.json
  pages/[pdfId].jsx
  public/favicon.ico
Due: yarn format, prettier --write

Revert "Bump core-js from 3.4.1 to 3.6.4 (#138)"
  package-lock.json
  package.json
Due: prettier --write

Revert "Bump core-js from 3.4.1 to 3.6.4 (#138)" (#139)
  package-lock.json
  package.json
Due: prettier --write

Fix lint errors
  next.config.js
  reader/components/header/Header.jsx
  reader/components/highlighter/utils/layer.js
  reader/components/outline-sidebar/renderers/OutlineRenderer.jsx
  reader/components/print/Print.jsx
  reader/store/index.jsx
  reader/store/metadata/reducers.js
  reader/store/reducers.js
  reader/utils/getArticleMetadata.js
  utils/helpers.js
Due: yarn format

Don't use recommender when localstorage not supported
  reader/components/recommender/Recommender.jsx
Due: yarn format

Don't show related papers links when recommender not loaded
  reader/components/outline-sidebar/OutlineSidebar.jsx
  reader/components/recommender/Recommender.jsx
  reader/components/toolbar/Toolbar.jsx
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
Due: yarn format

Fix localstorage in Safari incognito (#140)
  reader/components/outline-sidebar/OutlineSidebar.jsx
  reader/components/recommender/Recommender.jsx
  reader/components/toolbar/Toolbar.jsx
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
Due: yarn format

Fix typo display -> visibility
  reader/components/recommender/Recommender.jsx
Due: yarn format

Group API errors together
  pages/[pdfId].jsx
Due: yarn format

Group redirection errors together
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Group similar errors together (Sentry fingerprints) (#141)
  pages/[pdfId].jsx
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Fix localStorage not accessible when cookies disabled
  reader/components/recommender/Recommender.jsx
Due: yarn format

Fix localStorage not accessible when cookies disabled (#142)
  reader/components/recommender/Recommender.jsx
Due: yarn format

Bump @oacore/configs
  package-lock.json
  package.json
  reader/components/icons/Icon.jsx
  utils/structuredMetadata.js
Due: yarn format, prettier --write

Bump @oacore/configs (#148)
  package-lock.json
  package.json
  reader/components/icons/Icon.jsx
  utils/structuredMetadata.js
Due: yarn format, prettier --write

Fix breaking changes
  next.config.js
Due: yarn format

Bump @oacore/api
  package-lock.json
  package.json
Due: prettier --write

Bump @oacore/api (#149)
  package-lock.json
  package.json
Due: prettier --write

Hide recommender buttons
  reader/components/recommender/Recommender.scss
Due: prettier --write

Bump @babel packages
  package-lock.json
  package.json
Due: prettier --write

Remove inline-styles
  pages/[pdfId].jsx
  pages/styles.css
Due: yarn format, prettier --write

Bump nextjs
  package-lock.json
  package.json
Due: prettier --write

Add csp headers
  pages/[pdfId].jsx
Due: yarn format

Add CSP (#150)
  package-lock.json
  package.json
  pages/[pdfId].jsx
  pages/styles.css
Due: yarn format, prettier --write

Allow blob & google tag manager
  pages/[pdfId].jsx
Due: yarn format

Add datePublished to json+ld
  utils/structuredMetadata.js
Due: yarn format

Add ellipsis if headline length > 110
  utils/helpers.js
  utils/structuredMetadata.js
Due: yarn format

Fix name cannot be empty
  utils/structuredMetadata.js
Due: yarn format

Fix publisher field
  utils/structuredMetadata.js
Due: yarn format

Remove sameAs
  utils/structuredMetadata.js
Due: yarn format

Add unknown if repository name not specified
  utils/structuredMetadata.js
Due: yarn format

Fix structured metadata (#151)
  utils/helpers.js
  utils/structuredMetadata.js
Due: yarn format

Group Xref errors
  utils/sentry.js
Due: yarn format

Fix Related Papers shown in Outline more than once
  reader/components/outline-sidebar/OutlineSidebar.jsx
Due: yarn format

Group Xref errors (#152)
  utils/sentry.js
Due: yarn format

Fix Related Papers shown in Outline more than once (#153)
  reader/components/outline-sidebar/OutlineSidebar.jsx
Due: yarn format

Add performance polyfill
  package-lock.json
  package.json
  polyfills.js
Due: yarn format, prettier --write

Add performance polyfill (#154)
  package-lock.json
  package.json
  polyfills.js
Due: yarn format, prettier --write

Group PDF download errors together
  utils/sentry.js
Due: yarn format

Group PDF download errors together (#155)
  utils/sentry.js
Due: yarn format
