Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

Fix outline sidebar
  reader/components/pdf-outline-sidebar/PDFOutlineSidebar.jsx
  reader/components/pdf-outline-sidebar/renderers/OutlineRenderer.jsx
Due: yarn format

Better global store management (#82)
  pages/[pdfId].jsx
  public/favicon/favicon-128px.png
  public/favicon/favicon-256px.png
  public/favicon/favicon-32px.png
  public/favicon/favicon-512px.png
  public/favicon/favicon-64px.png
  public/favicon/favicon.svg
  reader/components/header/Header.jsx
  reader/components/main-area/MainArea.jsx
  reader/components/pdf-enhancement-sidebar/PDFEnhancementSidebar.jsx
  reader/components/pdf-highlighter/PDFHighlighter.jsx
  reader/components/pdf-highlighter/components/ContextMenu.jsx
  reader/components/pdf-highlighter/components/Highlights.jsx
  reader/components/pdf-loader/PDFLoader.jsx
  reader/components/pdf-outline-sidebar/PDFOutlineSidebar.jsx
  reader/components/pdf-outline-sidebar/renderers/OutlineRenderer.jsx
  reader/components/pdf-print/PDFPrint.jsx
  reader/components/pdf-thumbnails-sidebar/PDFThumbnailSidebar.jsx
  reader/components/pdf-toolbar/PDFToolbar.jsx
  reader/components/pdf-viewer/PDFViewer.jsx
  reader/index.jsx
  reader/store/GlobalProvider.jsx
  reader/store/configureContext.js
  reader/store/document/actions.js
  reader/store/document/reducers.js
  reader/store/index.jsx
  reader/store/metadata/reducers.js
  reader/store/reducers.js
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
  reader/store/withAppContext.jsx
  yarn.lock
Due: yarn format

Fix worker
  next.config.js
Due: yarn format

Revert static back
  next.config.js
  pages/[pdfId].jsx
  static/favicon/favicon-128px.png
  static/favicon/favicon-256px.png
  static/favicon/favicon-32px.png
  static/favicon/favicon-512px.png
  static/favicon/favicon-64px.png
  static/favicon/favicon.svg
Due: yarn format

Revert back `next` upgrade
  package.json
  yarn.lock
Due: prettier --write

Switch to internal API
  pages/[pdfId].jsx
  reader/index.jsx
  reader/utils/getArticleMetadata.js
Due: yarn format

Switch to internal API (#85)
  pages/[pdfId].jsx
  reader/index.jsx
  reader/utils/getArticleMetadata.js
Due: yarn format

Fix favicon link
  .eslintrc.yml
  next.config.js
  pages/[pdfId].jsx
  utils/helpers.js
Due: yarn format

Fix favicon link (#87)
  .eslintrc.yml
  next.config.js
  pages/[pdfId].jsx
  utils/helpers.js
Due: yarn format

Bump next
  package.json
  pages/[pdfId].jsx
  public/favicon/favicon-128px.png
  public/favicon/favicon-256px.png
  public/favicon/favicon-32px.png
  public/favicon/favicon-512px.png
  public/favicon/favicon-64px.png
  public/favicon/favicon.svg
Due: yarn format, prettier --write

Bump next (#88)
  package.json
  pages/[pdfId].jsx
  public/favicon/favicon-128px.png
  public/favicon/favicon-256px.png
  public/favicon/favicon-32px.png
  public/favicon/favicon-512px.png
  public/favicon/favicon-64px.png
  public/favicon/favicon.svg
Due: yarn format, prettier --write

Link related papers
  reader/components/pdf-outline-sidebar/PDFOutlineSidebar.jsx
  reader/components/pdf-outline-sidebar/renderers/OutlineRenderer.jsx
  reader/components/pdf-recommender/PDFRecommender.jsx
  reader/components/pdf-toolbar/PDFToolbar.jsx
  reader/components/pdf-toolbar/PDFToolbar.scss
  reader/components/pdf-viewer/PDFViewer.jsx
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
Due: yarn format, prettier --write

Polyfill IE & Edge
  package.json
  polyfills.js
  reader/lib/pdf-js/PDFThumbnailView.js
  yarn.lock
Due: yarn format, prettier --write

Show sidebar on top of PDF when < 1200px
  reader/components/main-area/MainArea.scss
Due: prettier --write

Fix toolbar mobile view
  reader/components/pdf-toolbar/PDFToolbar.jsx
  reader/components/pdf-toolbar/PDFToolbar.scss
Due: yarn format, prettier --write

Fix recommender flex
  reader/components/pdf-recommender/PDFRecommender.scss
Due: prettier --write

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Setup Sentry
  .env.example
  .eslintrc.yml
  next.config.js
  package.json
  pages/[pdfId].jsx
  utils/sentry.js
  yarn.lock
Due: yarn format, prettier --write

Create CODE_OF_CONDUCT.md (#93)
  CODE_OF_CONDUCT.md
Due: none

Setup Sentry (#90)
  .env.example
  .eslintrc.yml
  next.config.js
  package.json
  pages/[pdfId].jsx
  utils/sentry.js
  yarn.lock
Due: yarn format, prettier --write

Rename recommender section
  reader/components/pdf-recommender/PDFRecommender.jsx
Due: yarn format

Move comments closer to related code
  polyfills.js
Due: yarn format

Remove unused polyfill
  polyfills.js
Due: yarn format

Fix button padding
  reader/components/pdf-toolbar/PDFToolbar.jsx
Due: yarn format

Remove React.Fragment
  reader/components/pdf-outline-sidebar/renderers/OutlineRenderer.jsx
Due: yarn format

Link related papers (#89)
  .env.example
  .eslintrc.yml
  next.config.js
  package.json
  pages/[pdfId].jsx
  polyfills.js
  reader/components/main-area/MainArea.scss
  reader/components/pdf-outline-sidebar/PDFOutlineSidebar.jsx
  reader/components/pdf-outline-sidebar/renderers/OutlineRenderer.jsx
  reader/components/pdf-recommender/PDFRecommender.jsx
  reader/components/pdf-recommender/PDFRecommender.scss
  reader/components/pdf-toolbar/PDFToolbar.jsx
  reader/components/pdf-toolbar/PDFToolbar.scss
  reader/components/pdf-viewer/PDFViewer.jsx
  reader/lib/pdf-js/PDFThumbnailView.js
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
  utils/sentry.js
  yarn.lock
Due: yarn format, prettier --write

PDFDownloader - Downloader
  reader/components/downloader/Downloader.jsx
  reader/components/header/Header.jsx
Due: yarn format

PDFEnhancementSidebar - EnhancementSidebar
  reader/components/enhancement-sidebar/EnhancementSidebar.jsx
  reader/components/enhancement-sidebar/EnhancementSidebar.scss
Due: yarn format, prettier --write

PDFHighlighter -> Highlighter
  reader/components/highlighter/Highlighter.jsx
  reader/components/highlighter/Highlighter.scss
  reader/components/highlighter/components/ContextMenu.jsx
  reader/components/highlighter/components/Highlight.jsx
  reader/components/highlighter/components/Highlights.jsx
  reader/components/highlighter/utils/layer.js
  reader/components/highlighter/utils/rects.js
  reader/components/highlighter/utils/utils.js
Due: yarn format, prettier --write

PDFViewer -> Viewer
  reader/components/main-area/MainArea.jsx
  reader/components/viewer/Viewer.jsx
  reader/components/viewer/Viewer.scss
Due: yarn format, prettier --write

PDFToolbar -> Toolbar
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
  reader/components/viewer/Viewer.jsx
Due: yarn format, prettier --write

PDFThumbnailSidebar -> ThumbnailSidebar
  reader/components/main-area/MainArea.jsx
  reader/components/thumbnails-sidebar/ThumbnailSidebar.jsx
  reader/components/thumbnails-sidebar/ThumbnailSidebar.scss
Due: yarn format, prettier --write

PDFRecommender -> Recommender
  reader/components/recommender/Recommender.jsx
  reader/components/recommender/Recommender.scss
  reader/components/viewer/Viewer.jsx
Due: yarn format, prettier --write

PDFOutlineSidebar -> OutlineSidebar
  reader/components/main-area/MainArea.jsx
  reader/components/outline-sidebar/OutlineSidebar.jsx
  reader/components/outline-sidebar/OutlineSidebar.scss
  reader/components/outline-sidebar/assets/expand.svg
  reader/components/outline-sidebar/renderers/OutlineRenderer.jsx
Due: yarn format, prettier --write

PDFPrint -> Print
  reader/components/print/Print.jsx
  reader/components/print/Print.scss
  reader/index.jsx
Due: yarn format, prettier --write

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
