Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

Bump @sentry/browser
  package-lock.json
  package.json
Due: prettier --write

Bump core-js
  package-lock.json
  package.json
Due: prettier --write

Bump @babel/preset-react
  package-lock.json
  package.json
Due: prettier --write

Bump @babel/core
  package-lock.json
  package.json
Due: prettier --write

Bump react-ga
  package-lock.json
  package.json
Due: prettier --write

Bump next
  package-lock.json
  package.json
Due: prettier --write

Bump react-to-print
  package-lock.json
  package.json
Due: prettier --write

Bump file-saver
  package-lock.json
  package.json
Due: prettier --write

Bump lint-staged
  package-lock.json
  package.json
Due: prettier --write

Bump stylelint
  package-lock.json
  package.json
Due: prettier --write

Bump postcss
  package-lock.json
  package.json
Due: prettier --write

Bump @oacore/design
  package-lock.json
  package.json
Due: prettier --write

Bump next-transpile-modules
  next.config.js
  package-lock.json
  package.json
Due: yarn format, prettier --write

Remove source-map-preloader
  next.config.js
Due: yarn format

Bump packages (#318)
  next.config.js
  package-lock.json
  package.json
Due: yarn format, prettier --write

Upgrade pdfjs
  next.config.js
  package-lock.json
  package.json
  reader/components/pdf-loader/pdf-loader.jsx
  reader/components/thumbnails-sidebar/index.jsx
  reader/components/viewer/index.jsx
  reader/index.jsx
  reader/lib/pdf-js/webpack.js
Due: yarn format, prettier --write

chunks
  csp.config.js
  package-lock.json
  package.json
  pages/_app.jsx
  reader/components/pdf-loader/pdf-loader.jsx
  reader/components/viewer/index.jsx
  reader/components/wikify/index.jsx
  reader/components/wikify/styles.module.css
Due: yarn format, prettier --write

Add wiki layer
  reader/components/wikify/index.jsx
Due: yarn format

WIP
  reader/components/viewer/index.jsx
  reader/components/wikify/index.jsx
Due: yarn format

url empty fix
  reader/components/pdf-loader/pdf-loader.jsx
Due: yarn format

Delete now.json
  now.json
Due: prettier --write

Fix empty url (#323)
  now.json
  reader/components/pdf-loader/pdf-loader.jsx
Due: yarn format, prettier --write

url fix
  reader/components/main-area/index.jsx
  reader/components/pdf-loader/pdf-loader.jsx
Due: yarn format

Fix empty url filed in crossref (#324)
  reader/components/main-area/index.jsx
  reader/components/pdf-loader/pdf-loader.jsx
Due: yarn format

Fixed downloadLink variable
  pages/[pdfId].jsx
Due: yarn format

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/azure-deployment_core-reader.yml
Due: none

added deployment configuration
  .deployment
  .github/workflows/azure-deployment_core-reader.yml
  deploy.sh
Due: none

commented 3rd part
  deploy.sh
Due: none

uncommented npm i, build
  deploy.sh
Due: none

commented run build
  deploy.sh
Due: none

GA4
  .lintstagedrc
  package-lock.json
  package.json
  reader/components/highlighter/highlights.jsx
  reader/components/outline-sidebar/outline-renderer.jsx
  reader/components/viewer/index.jsx
  reader/index.jsx
  reader/lib/pdf-js/webpack.js
  utils/analytics.jsx
Due: yarn format, prettier --write

GA4
  .lintstagedrc
Due: none

GA4
  package-lock.json
  package.json
Due: prettier --write

pack.lock
  package-lock.json
Due: prettier --write

pdf viewer location fix
  .lintstagedrc
  reader/components/viewer/index.jsx
  reader/index.jsx
  reader/lib/pdf-js/webpack.js
Due: yarn format

pdf viewer location fix
  .lintstagedrc
Due: none

ga4
  package-lock.json
  package.json
  utils/analytics.jsx
Due: yarn format, prettier --write

ga4
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
