Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

Immediately redirect when PDF is served over insecure http connection
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Immediately redirect when PDF is served over insecure http connection (#156)
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Bump pdfjs-dist
  next.config.js
  package-lock.json
  package.json
  pages/[pdfId].jsx
  polyfills.js
  reader/components/viewer/Viewer.jsx
  reader/index.jsx
  reader/lib/pdf-js/webpack.js
Due: yarn format, prettier --write

Bump pdfjs-dist (#158)
  next.config.js
  package-lock.json
  package.json
  pages/[pdfId].jsx
  polyfills.js
  reader/components/viewer/Viewer.jsx
  reader/index.jsx
  reader/lib/pdf-js/webpack.js
Due: yarn format, prettier --write

Increase samplerate for siteSpeed
  utils/analytics.jsx
Due: yarn format

Increase samplerate for siteSpeed (#159)
  utils/analytics.jsx
Due: yarn format

Measure API calls
  pages/[pdfId].jsx
  reader/components/pdf-loader/PDFLoader.jsx
  utils/analytics.jsx
Due: yarn format

Measure API calls (#160)
  pages/[pdfId].jsx
  reader/components/pdf-loader/PDFLoader.jsx
  utils/analytics.jsx
Due: yarn format

Replace getInitialProps with getServerSideProps
  now.json
  package-lock.json
  package.json
  pages/[pdfId].jsx
Due: yarn format, prettier --write

Replace getInitialProps with getServerSideProps (#161)
  now.json
  package-lock.json
  package.json
  pages/[pdfId].jsx
Due: yarn format, prettier --write

Revert "Bump next-images from 1.2.0 to 1.4.0 (#164)"
  package-lock.json
  package.json
Due: prettier --write

Revert "Bump next-images from 1.2.0 to 1.4.0 (#164)" (#167)
  package-lock.json
  package.json
Due: prettier --write

Fix print
  pages/[pdfId].jsx
Due: yarn format

Fix print (#168)
  pages/[pdfId].jsx
Due: yarn format

Remove GA is not initialized warnings on dev env
  utils/analytics.jsx
Due: yarn format

Remove GA is not initialized warnings on dev env (#179)
  utils/analytics.jsx
Due: yarn format

Use icons from @oacore/design
  .gitignore
  design.config.js
  package-lock.json
  package.json
  pages/[pdfId].jsx
  public/core-symbol.svg
  reader/components/header/Header.jsx
  reader/components/icons/Icon.jsx
  reader/components/icons/Icon.scss
  reader/components/icons/assets/cite.svg
  reader/components/icons/assets/download.svg
  reader/components/icons/assets/left-arrow.svg
  reader/components/icons/assets/outline.svg
  reader/components/icons/assets/paper_info.svg
  reader/components/icons/assets/print.svg
  reader/components/icons/assets/right-arrow.svg
  reader/components/icons/assets/rotate.svg
  reader/components/icons/assets/share.svg
  reader/components/icons/assets/thumbnails.svg
  reader/components/icons/assets/zoom-in.svg
  reader/components/icons/assets/zoom-out.svg
  reader/components/toolbar/Toolbar.jsx
Due: yarn format, prettier --write

Update design.config.js
  design.config.js
Due: yarn format

Use icons from @oacore/design (#180)
  .gitignore
  design.config.js
  package-lock.json
  package.json
  pages/[pdfId].jsx
  public/core-symbol.svg
  reader/components/header/Header.jsx
  reader/components/icons/Icon.jsx
  reader/components/icons/Icon.scss
  reader/components/icons/assets/cite.svg
  reader/components/icons/assets/download.svg
  reader/components/icons/assets/left-arrow.svg
  reader/components/icons/assets/outline.svg
  reader/components/icons/assets/paper_info.svg
  reader/components/icons/assets/print.svg
  reader/components/icons/assets/right-arrow.svg
  reader/components/icons/assets/rotate.svg
  reader/components/icons/assets/share.svg
  reader/components/icons/assets/thumbnails.svg
  reader/components/icons/assets/zoom-in.svg
  reader/components/icons/assets/zoom-out.svg
  reader/components/toolbar/Toolbar.jsx
Due: yarn format, prettier --write

Use button from @oacore/design
  pages/[pdfId].jsx
  pages/styles.css
  reader/components/header/Header.jsx
  reader/components/header/Header.scss
  reader/components/modal/Modal.jsx
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
Due: yarn format, prettier --write

Use button from @oacore/design (#181)
  pages/[pdfId].jsx
  pages/styles.css
  reader/components/header/Header.jsx
  reader/components/header/Header.scss
  reader/components/modal/Modal.jsx
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
Due: yarn format, prettier --write

Remove axios
  package-lock.json
  package.json
Due: prettier --write

Remove axios (#182)
  package-lock.json
  package.json
Due: prettier --write

Use AppBar in header
  pages/[pdfId].jsx
  pages/_app.jsx
  pages/styles.css
  reader/components/header/Header.scss
  reader/components/header/index.jsx
  reader/components/header/styles.module.css
  reader/index.jsx
Due: yarn format, prettier --write

Use AppBar in header (#183)
  pages/[pdfId].jsx
  pages/_app.jsx
  pages/styles.css
  reader/components/header/Header.scss
  reader/components/header/index.jsx
  reader/components/header/styles.module.css
  reader/index.jsx
Due: yarn format, prettier --write

Add document placeholder
  pages/_app.jsx
  reader/components/loading-bar/index.jsx
  reader/components/loading-bar/styles.module.css
  reader/components/main-area/MainArea.jsx
  reader/components/pdf-loader/PDFLoader.scss
  reader/components/pdf-loader/document-placeholder.jsx
  reader/components/pdf-loader/pdf-loader.jsx
  reader/components/pdf-loader/styles.module.scss
  reader/index.jsx
Due: yarn format, prettier --write

Add document placeholder (#184)
  pages/_app.jsx
  reader/components/loading-bar/index.jsx
  reader/components/loading-bar/styles.module.css
  reader/components/main-area/MainArea.jsx
  reader/components/pdf-loader/PDFLoader.scss
  reader/components/pdf-loader/document-placeholder.jsx
  reader/components/pdf-loader/pdf-loader.jsx
  reader/components/pdf-loader/styles.module.scss
  reader/index.jsx
Due: yarn format, prettier --write

Export downloader from index.js
  reader/components/downloader/index.jsx
  reader/components/header/index.jsx
Due: yarn format

Export Layout from index.js
  reader/components/layout/Layout.jsx
  reader/components/layout/index.jsx
  reader/components/layout/styles.module.css
  reader/index.jsx
Due: yarn format, prettier --write

Use pure css in loader styles
  reader/components/pdf-loader/pdf-loader.jsx
  reader/components/pdf-loader/styles.module.css
Due: yarn format, prettier --write

Export MainArea directly in index file
  reader/components/main-area/index.jsx
  reader/components/main-area/styles.module.scss
  reader/index.jsx
Due: yarn format, prettier --write

Upgrade pull request github action
  .github/workflows/pull-request-check.yml
Due: none

Update babel packages
  package-lock.json
  package.json
Due: prettier --write

Replace Reactstrap Collapse with custom solution
  reader/components/header/index.jsx
  reader/components/main-area/index.jsx
  reader/components/outline-sidebar/OutlineSidebar.scss
  reader/components/outline-sidebar/assets/expand.svg
  reader/components/outline-sidebar/index.jsx
  reader/components/outline-sidebar/outline-renderer.jsx
  reader/components/outline-sidebar/styles.module.scss
Due: yarn format, prettier --write

Remove outline spinner
  reader/components/outline-sidebar/index.jsx
Due: yarn format

Add new print flow
  design.config.js
  package-lock.json
  package.json
  reader/components/header/index.jsx
  reader/components/print/Print.scss
  reader/components/print/index.jsx
  reader/components/print/styles.module.css
  reader/index.jsx
Due: yarn format, prettier --write

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
