Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Remove infinite loader when PDF cannot be displayed
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Remove infinite loader when PDF cannot be displayed (#116)
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Status code fix
  pages/[pdfId].jsx
Due: yarn format

Postpone redirection for TDM papers
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Postpone redirection for TDM papers (#122)
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Add structured data
  pages/[pdfId].jsx
  utils/structuredMetadata.js
Due: yarn format

Remove travis
  .travis.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Fix lint commands
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

Use @oacore/configs
  .eslintrc.yml
  .prettierrc.js
  .prettierrc.yml
  CODE_OF_CONDUCT.md
  README.md
  next.config.js
  pages/[pdfId].jsx
  reader/components/bootstrap/_core.scss
  reader/components/bootstrap/_variables.scss
  reader/components/bootstrap/bootstrap.scss
  reader/components/enhancement-sidebar/EnhancementSidebar.jsx
  reader/components/header/Header.jsx
  reader/components/header/Header.scss
  reader/components/highlighter/Highlighter.jsx
  reader/components/highlighter/Highlighter.scss
  reader/components/highlighter/components/ContextMenu.jsx
  reader/components/highlighter/components/Highlight.jsx
  reader/components/highlighter/components/Highlights.jsx
  reader/components/highlighter/utils/rects.js
  reader/components/icons/Icon.jsx
  reader/components/main-area/MainArea.jsx
  reader/components/main-area/MainArea.scss
  reader/components/modal/Modal.scss
  reader/components/outline-sidebar/OutlineSidebar.jsx
  reader/components/outline-sidebar/OutlineSidebar.scss
  reader/components/pdf-loader/PDFLoader.jsx
  reader/components/print/Print.jsx
  reader/components/recommender/Recommender.jsx
  reader/components/recommender/Recommender.scss
  reader/components/thumbnails-sidebar/ThumbnailSidebar.jsx
  reader/components/thumbnails-sidebar/ThumbnailSidebar.scss
  reader/components/toolbar/Toolbar.jsx
  reader/components/toolbar/Toolbar.scss
  reader/components/viewer/Viewer.jsx
  reader/index.jsx
  reader/lib/pdf-js/PDFThumbnailView.js
  reader/lib/pdf-js/PDFThumbnailViewer.js
  reader/store/index.jsx
  utils/withGoogleAnalytics.jsx
Due: yarn format, prettier --write

Install @oacore/config
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

Uninstall unused packages
  package-lock.json
  package.json
Due: prettier --write

Fix lint:css command
  package.json
Due: prettier --write

Add structured data (#123)
  pages/[pdfId].jsx
  utils/structuredMetadata.js
Due: yarn format

Remove `topics` from structured data
  utils/structuredMetadata.js
Due: yarn format

Fix null fields
  utils/structuredMetadata.js
Due: yarn format

Don't double escape JSONLD
  pages/[pdfId].jsx
Due: yarn format

Add debounce function
  reader/utils/helpers.js
Due: yarn format

Rerender PDF viewer on resize event
  reader/components/viewer/Viewer.jsx
Due: yarn format

Fix printing service
  reader/components/header/Header.jsx
Due: yarn format

Bug fixes (#124)
  pages/[pdfId].jsx
  reader/components/header/Header.jsx
  reader/components/viewer/Viewer.jsx
  reader/utils/helpers.js
  utils/structuredMetadata.js
Due: yarn format

Change error message
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Update README.md
  README.md
Due: none

Load cmaps
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Load cmaps (#125)
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Fix react static lifecycle method is not called
  pages/[pdfId].jsx
  utils/withGoogleAnalytics.jsx
Due: yarn format

Rename withGoogleAnalytics -> analytics
  pages/[pdfId].jsx
  utils/analytics.jsx
Due: yarn format

Log pageView differently
  utils/analytics.jsx
Due: yarn format

Track API call event
  pages/[pdfId].jsx
  utils/analytics.jsx
Due: yarn format

Track redirection
  reader/components/pdf-loader/PDFLoader.jsx
  utils/analytics.jsx
Due: yarn format

Specify `engines` field in package.json
  package.json
  pages/[pdfId].jsx
  reader/components/pdf-loader/PDFLoader.jsx
  utils/analytics.jsx
Due: yarn format, prettier --write

Track status codes & and redirection ratio (#131)
  package.json
  pages/[pdfId].jsx
  reader/components/pdf-loader/PDFLoader.jsx
  utils/analytics.jsx
Due: yarn format, prettier --write

Don't report 404 as error
  pages/[pdfId].jsx
Due: yarn format

Remove event tracking
  pages/[pdfId].jsx
  reader/components/pdf-loader/PDFLoader.jsx
  utils/analytics.jsx
Due: yarn format

Use multiple GA trackers
  utils/analytics.jsx
Due: yarn format

Fix undefined tracking code
  utils/analytics.jsx
Due: yarn format

Fix analytics
  utils/analytics.jsx
Due: yarn format

Fix analytics (#132)
  utils/analytics.jsx
Due: yarn format

Repeat API call on 'socket hang up'
  package-lock.json
  package.json
  pages/[pdfId].jsx
  public/favicon.ico
Due: yarn format, prettier --write
