Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Install lodash
  package.json
  yarn.lock
Due: prettier --write

Add debounce decorator
  src/utils/debounce.js
Due: yarn format

Install Babel decorators plugin
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

Add context menu with color dots
  src/components/main-area/MainArea.jsx
  src/components/pdf-highlighter/PDFHighlighter.jsx
  src/components/pdf-highlighter/PDFHighlighter.scss
  src/components/pdf-highlighter/components/ContextMenu.jsx
  src/components/pdf-highlighter/components/Highlight.jsx
  src/components/pdf-highlighter/components/Highlights.jsx
  src/components/pdf-highlighter/utils/layer.js
  src/components/pdf-highlighter/utils/rects.js
  src/components/pdf-highlighter/utils/utils.js
  src/components/pdf-toolbar/PDFToolbar.scss
  src/components/pdf-viewer/PDFViewer.scss
  src/store/GlobalProvider.jsx
Due: yarn format, prettier --write

Show annotations in sidebar
  src/components/pdf-enhancement-sidebar/PDFEnhancementSidebar.jsx
  src/components/pdf-enhancement-sidebar/PDFEnhancementSidebar.scss
  src/components/pdf-highlighter/PDFHighlighter.jsx
  src/components/pdf-highlighter/components/ContextMenu.jsx
Due: yarn format, prettier --write

Toggle sidebar if first annotation
  src/components/pdf-highlighter/components/ContextMenu.jsx
Due: yarn format

Color enum
  src/components/pdf-enhancement-sidebar/PDFEnhancementSidebar.jsx
  src/components/pdf-highlighter/PDFHighlighter.scss
  src/components/pdf-highlighter/components/ContextMenu.jsx
  src/components/pdf-highlighter/components/Highlight.jsx
Due: yarn format, prettier --write

Scale annotations when pdf zoomIn, zoomOut
  src/components/pdf-highlighter/PDFHighlighter.jsx
  src/components/pdf-highlighter/PDFHighlighter.scss
  src/components/pdf-highlighter/components/Highlight.jsx
  src/components/pdf-highlighter/components/Highlights.jsx
  src/components/pdf-highlighter/utils/rects.js
Due: yarn format, prettier --write

Disable annotations when page is rotated
  src/components/pdf-highlighter/components/ContextMenu.jsx
  src/components/pdf-highlighter/utils/rects.js
Due: yarn format

Allow to change color of existing highlights
  src/components/pdf-highlighter/PDFHighlighter.jsx
  src/components/pdf-highlighter/PDFHighlighter.scss
  src/components/pdf-highlighter/components/ContextMenu.jsx
  src/components/pdf-highlighter/components/Highlight.jsx
  src/components/pdf-highlighter/components/Highlights.jsx
  src/store/GlobalProvider.jsx
Due: yarn format, prettier --write

Hide context menu when color selected
  src/components/pdf-highlighter/PDFHighlighter.jsx
  src/components/pdf-highlighter/components/ContextMenu.jsx
  src/components/pdf-highlighter/components/Highlight.jsx
Due: yarn format

Show context menu only on mouse up
  src/components/pdf-highlighter/PDFHighlighter.jsx
  src/utils/throttle.js
Due: yarn format

Sort annotations by vertical and horizontal position
  src/components/pdf-enhancement-sidebar/PDFEnhancementSidebar.jsx
Due: yarn format

Highlights (#34)
  .babelrc
  package.json
  src/components/main-area/MainArea.jsx
  src/components/pdf-enhancement-sidebar/PDFEnhancementSidebar.jsx
  src/components/pdf-enhancement-sidebar/PDFEnhancementSidebar.scss
  src/components/pdf-highlighter/PDFHighlighter.jsx
  src/components/pdf-highlighter/PDFHighlighter.scss
  src/components/pdf-highlighter/components/ContextMenu.jsx
  src/components/pdf-highlighter/components/Highlight.jsx
  src/components/pdf-highlighter/components/Highlights.jsx
  src/components/pdf-highlighter/utils/layer.js
  src/components/pdf-highlighter/utils/rects.js
  src/components/pdf-highlighter/utils/utils.js
  src/components/pdf-toolbar/PDFToolbar.scss
  src/components/pdf-viewer/PDFViewer.scss
  src/store/GlobalProvider.jsx
  src/utils/debounce.js
  src/utils/throttle.js
  yarn.lock
Due: yarn format, prettier --write

Develop fixed layout with will-change
  src/components/layout/application.jsx
  src/components/layout/layout.css
Due: yarn format, prettier --write

Simplify Icon component
  src/components/icons/Icon.jsx
  src/components/icons/Icon.scss
  src/components/icons/assests/cite.svg
  src/components/icons/assests/download.svg
  src/components/icons/assests/info.svg
  src/components/icons/assests/left-arrow.svg
  src/components/icons/assests/outline.svg
  src/components/icons/assests/paper_info.svg
  src/components/icons/assests/print.svg
  src/components/icons/assests/right-arrow.svg
  src/components/icons/assests/rotate.svg
  src/components/icons/assests/share.svg
  src/components/icons/assests/thumbnails.svg
  src/components/icons/assests/zoom-in.svg
  src/components/icons/assests/zoom-out.svg
  src/components/icons/assets/cite.svg
  src/components/icons/assets/download.svg
  src/components/icons/assets/info.svg
  src/components/icons/assets/left-arrow.svg
  src/components/icons/assets/outline.svg
  src/components/icons/assets/paper_info.svg
  src/components/icons/assets/print.svg
  src/components/icons/assets/right-arrow.svg
  src/components/icons/assets/rotate.svg
  src/components/icons/assets/share.svg
  src/components/icons/assets/thumbnails.svg
  src/components/icons/assets/zoom-in.svg
  src/components/icons/assets/zoom-out.svg
Due: yarn format, prettier --write

Improve Header look
  src/components/header/Header.jsx
  src/components/header/Header.scss
Due: yarn format, prettier --write

Set url-loader up for loading SVG in CSS
  package.json
  webpack/webpack.config.babel.js
  yarn.lock
Due: yarn format, prettier --write

Improve visual look
  src/components/main-area/MainArea.scss
  src/components/pdf-outline-sidebar/PDFOutlineSidebar.scss
  src/components/pdf-outline-sidebar/assets/expand.svg
  src/components/pdf-outline-sidebar/assets/treeitem-collapsed.png
  src/components/pdf-outline-sidebar/assets/treeitem-expanded.png
  src/components/pdf-outline-sidebar/renderers/OutlineRenderer.jsx
  src/components/pdf-thumbnails-sidebar/PDFThumbnailSidebar.scss
Due: yarn format, prettier --write

Fix sidebar shadow
  src/components/main-area/MainArea.scss
Due: prettier --write

Fix layout height
  src/CoreReader.jsx
  src/components/layout/index.jsx
  src/components/layout/layout.scss
  src/components/main-area/MainArea.scss
  src/components/pdf-loader/PDFLoader.scss
  src/index.template.html
Due: yarn format, prettier --write

Fix application height (#54)
  src/CoreReader.jsx
  src/components/layout/index.jsx
  src/components/layout/layout.scss
  src/components/main-area/MainArea.scss
  src/components/pdf-loader/PDFLoader.scss
  src/index.template.html
Due: yarn format, prettier --write

Integrate Next.js into Reader
  .babelrc
  .eslintrc.yml
  .gitignore
  README.md
  next.config.js
  now.json
  package.json
  pages/index.jsx
  webpack/webpack.config.babel.js
  yarn.lock
Due: yarn format, prettier --write

Add Express.js configuration
  .env
  .eslintrc.yml
  .gitignore
  README.md
  next.config.js
  package.json
  pages/index.jsx
  reader/components/pdf-viewer/PDFViewer.jsx
  reader/index.jsx
  reader/store/GlobalProvider.jsx
  reader/utils/getArticleMetadata.js
  server.js
  yarn.lock
Due: yarn format, prettier --write

Update Docker
  .dockerignore
  Dockerfile
  README.md
  package.json
Due: prettier --write

Replace Helmet with SSR
  .env
  package.json
  pages/index.jsx
  reader/components/pdf-outline-sidebar/PDFOutlineSidebar.jsx
  reader/index.jsx
  reader/store/GlobalProvider.jsx
  yarn.lock
Due: yarn format, prettier --write

Provide recommender key as env var
  .eslintrc.yml
  README.md
  next.config.js
  reader/components/pdf-recommender/PDFRecommender.jsx
Due: yarn format

Expose env variables in now.sh
  .env
  now.json
Due: prettier --write

Optimize svg icons
  reader/components/icons/assets/cite.svg
  reader/components/icons/assets/download.svg
  reader/components/icons/assets/info.svg
  reader/components/icons/assets/left-arrow.svg
  reader/components/icons/assets/outline.svg
  reader/components/icons/assets/paper_info.svg
  reader/components/icons/assets/print.svg
  reader/components/icons/assets/right-arrow.svg
  reader/components/icons/assets/rotate.svg
  reader/components/icons/assets/share.svg
  reader/components/icons/assets/thumbnails.svg
  reader/components/icons/assets/zoom-in.svg
  reader/components/icons/assets/zoom-out.svg
  reader/components/pdf-outline-sidebar/assets/expand.svg
Due: none

Redirect / to pdf
  .babelrc
  next.config.js
  now.json
  package.json
  pages/[pdfId].jsx
  reader/utils/getArticleMetadata.js
  server.js
Due: yarn format, prettier --write

Remove sharing icon
  reader/components/header/Header.jsx
Due: yarn format

Hide PDFEnhancementSidebar
  reader/components/header/Header.jsx
  reader/components/main-area/MainArea.jsx
Due: yarn format

Disable annotations feature
  reader/components/main-area/MainArea.jsx
Due: yarn format

Allow console warn and error
  .eslintrc.yml
  reader/components/pdf-print/PDFPrint.jsx
  reader/lib/pdf-js/PDFThumbnailView.js
  reader/lib/pdf-js/PDFThumbnailViewer.js
  server.js
Due: yarn format

Migrate .babelrc -> babel.config.js
  babel.config.js
Due: yarn format

Add polyfill for IE
  next.config.js
  polyfills.js
Due: yarn format

Redirect to default browser view when PDF.js fails
  reader/components/pdf-loader/PDFLoader.jsx
Due: yarn format

Rename .env -> .env.example
  .env.example
  README.md
  package.json
  pages/[pdfId].jsx
  yarn.lock
Due: yarn format, prettier --write

Adjust travis config
  .travis.yml
Due: none
