Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

Use custom postcss config
  .stylelintrc.yml
  package-lock.json
  package.json
  pages/styles.css
  postcss.config.js
  reader/components/enhancement-sidebar/styles.module.css
  reader/components/header/styles.module.css
  reader/components/main-area/styles.module.css
  reader/components/outline-sidebar/outline-renderer.jsx
  reader/components/outline-sidebar/styles.module.css
  reader/components/pdf-loader/styles.module.css
  reader/components/recommender/index.jsx
  reader/components/thumbnails-sidebar/styles.module.css
  reader/components/toolbar/styles.module.css
  reader/lib/pdf-js/PDFThumbnailView.js
Due: yarn format, prettier --write

Move all assets to static folder
  .gitignore
  design.config.js
  pages/[pdfId].jsx
  public/static/core-symbol.svg
  public/static/favicon.ico
  public/static/favicon/favicon-128px.png
  public/static/favicon/favicon-256px.png
  public/static/favicon/favicon-32px.png
  public/static/favicon/favicon-512px.png
  public/static/favicon/favicon-64px.png
  public/static/favicon/favicon.svg
Due: yarn format

Remove next-images
  next.config.js
  package-lock.json
  package.json
  pages/_app.jsx
  pages/pdf-js.css
  pages/styles.css
  public/static/pdf-js/loading-icon.gif
Due: yarn format, prettier --write

Bump @oacore/api
  package-lock.json
  package.json
Due: prettier --write

Preload PDF
  pages/[pdfId].jsx
Due: yarn format

Bump react & react-dom
  package-lock.json
  package.json
Due: prettier --write

Use @oacore/stylelint-config-base
  .stylelintrc.yml
  package-lock.json
  package.json
  stylelint.config.js
Due: yarn format, prettier --write

Remove unused ref
  reader/components/outline-sidebar/index.jsx
Due: yarn format

Bump @oacore/design
  package-lock.json
  package.json
  reader/components/header/index.jsx
  reader/components/loading-bar/index.jsx
  reader/components/loading-bar/styles.module.css
  reader/components/pdf-loader/pdf-loader.jsx
  reader/components/print/index.jsx
Due: yarn format, prettier --write

Use aliases for React and React-DOM
  next.config.js
Due: yarn format

Allow to use custom public paths for icons
  design.config.js
Due: yarn format

Merge all vendors chunks
  next.config.js
Due: yarn format

Fix missing loading icon in production
  pages/pdf-js.css
Due: prettier --write

Remove old recommender
  .env.example
  .eslintrc.yml
  .github/workflows/pull-request-check.yml
  README.md
  next.config.js
  now.json
  package-lock.json
  package.json
  pages/styles.css
  reader/components/recommender/index.jsx
  reader/components/recommender/styles.module.css
Due: yarn format, prettier --write

Add new recommender
  pages/[pdfId].jsx
  reader/components/outline-sidebar/index.jsx
  reader/components/recommender/index.jsx
  reader/components/recommender/styles.module.css
  reader/components/toolbar/index.jsx
  reader/components/viewer/index.jsx
  reader/index.jsx
  reader/store/metadata/reducers.js
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
Due: yarn format, prettier --write

Remove dotenv
  .env.example
  .eslintrc.yml
  README.md
  next.config.js
  package-lock.json
  package.json
  utils/analytics.jsx
  utils/helpers.js
  utils/sentry.js
Due: yarn format, prettier --write

Remove html-webpack-plugin
  package-lock.json
  package.json
Due: prettier --write

Download document directly from server
  reader/components/downloader/index.jsx
  reader/components/header/index.jsx
Due: yarn format

Fix app bar look on mobile screen
  reader/components/header/styles.module.css
Due: prettier --write

Disable redirection
  reader/components/pdf-loader/pdf-loader.jsx
Due: yarn format

Revert 0eaea677c4eda5b89529dd4715248c85162ada31
  reader/components/downloader/index.jsx
  reader/components/header/index.jsx
Due: yarn format

Don't report CORS issue to Sentry
  reader/components/pdf-loader/pdf-loader.jsx
Due: yarn format

Allow to click on recommendations
  reader/components/recommender/index.jsx
  reader/components/recommender/styles.module.css
Due: yarn format, prettier --write

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
