Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

Use favicons from core.ac.uk
  pages/[pdfId].jsx
  public/static/favicon/favicon-128px.png
  public/static/favicon/favicon-256px.png
  public/static/favicon/favicon-32px.png
  public/static/favicon/favicon-512px.png
  public/static/favicon/favicon-64px.png
  public/static/favicon/favicon.svg
Due: yarn format

Disable image stretching in recommender
  reader/components/recommender/index.jsx
  reader/components/recommender/styles.module.css
Due: yarn format, prettier --write

Bump @oacore/design
  package-lock.json
  package.json
Due: prettier --write

Remove unused favicon asset
  public/static/favicon.ico
Due: none

Use CORO loo from design
  design.config.js
  public/static/core-symbol.svg
Due: yarn format

Fix pagination input width
  reader/components/toolbar/index.jsx
  reader/components/toolbar/styles.module.css
Due: yarn format, prettier --write

Add event tracking to app bar and toolbar actions
  reader/components/downloader/index.jsx
  reader/components/header/index.jsx
  reader/components/print/index.jsx
  reader/components/toolbar/index.jsx
  utils/analytics.jsx
Due: yarn format

Log to both trackers
  utils/analytics.jsx
Due: yarn format

Bump next-transpile-modules
  package-lock.json
  package.json
Due: prettier --write

Change license and author field
  LICENSE
  package.json
Due: prettier --write

Reflect statusCode correctly
  pages/[pdfId].jsx
Due: yarn format

Fix applying polyfills
  next.config.js
Due: yarn format

Move Content-Security-Policy to configs
  csp.config.js
  next.config.js
Due: yarn format

Apply real policy
  csp.config.js
  pages/[pdfId].jsx
Due: yarn format

Fix empty require
  next.config.js
Due: yarn format

Move Content-Security-Policy to configs (#278)
  csp.config.js
  next.config.js
  pages/[pdfId].jsx
Due: yarn format

Fix CSP
  csp.config.js
Due: yarn format

Fix CSP (#298)
  csp.config.js
Due: yarn format

Fix hot reload
  reader/store/document/reducers.js
  reader/store/metadata/reducers.js
  reader/store/reducers.js
  reader/store/ui/reducers.js
Due: yarn format

Remove deprecated source maps
  next.config.js
  package-lock.json
  package.json
Due: yarn format, prettier --write

Fix hot reload (#299)
  next.config.js
  package-lock.json
  package.json
  reader/store/document/reducers.js
  reader/store/metadata/reducers.js
  reader/store/reducers.js
  reader/store/ui/reducers.js
Due: yarn format, prettier --write

Migrate to lockfile v2
  package-lock.json
Due: prettier --write

Bump github action
  .github/workflows/pull-request-check.yml
Due: none

Bump prettier
  package-lock.json
  package.json
Due: prettier --write

Bump @babel/preset-env
  package-lock.json
  package.json
Due: prettier --write

Bump eslint
  package-lock.json
  package.json
Due: prettier --write

Bump @sentry/node
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
