Repository oacore/reader: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": ["yarn format", "git add"],
  "*.{json,scss,css}": ["prettier --write", "git add"]
}

Layout after rebase
  reader/components/layout/index.jsx
  reader/components/layout/layout.scss
  reader/index.jsx
  src/index.template.html
Due: yarn format, prettier --write

Fix babel config
  babel.config.js
Due: yarn format

Better check for env variables
  next.config.js
Due: yarn format

Fix duplicate comment
  README.md
Due: none

Remove useless .env section
  .travis.yml
Due: none

Use nextjs default server instead of express
  now.json
  package.json
  pages/reader-beta/[pdfId].jsx
  server.js
  yarn.lock
Due: yarn format, prettier --write

Add new set of icons
  reader/components/header/Header.jsx
  reader/components/icons/Icon.jsx
  src/components/icons/assets/copy.svg
  src/components/icons/assets/create-new-annotation.svg
  src/components/icons/assets/search.svg
  src/components/icons/assets/wiki.svg
Due: yarn format

Use LF line ending
  src/components/icons/assets/copy.svg
  src/components/icons/assets/create-new-annotation.svg
  src/components/icons/assets/search.svg
  src/components/icons/assets/wiki.svg
Due: none

Add context menu actions
  reader/components/pdf-highlighter/components/ContextMenu.jsx
Due: yarn format

Remove unused debounce decorator
  reader/utils/debounce.js
Due: yarn format

Remove unnecessary calculations & `section` -> `span`
  reader/components/pdf-highlighter/PDFHighlighter.jsx
  reader/components/pdf-highlighter/PDFHighlighter.scss
  reader/components/pdf-highlighter/components/Highlight.jsx
Due: yarn format, prettier --write

Simplify coords normalization
  reader/components/pdf-highlighter/utils/rects.js
Due: yarn format

Fix some `eslint-disable`
  reader/components/pdf-highlighter/components/ContextMenu.jsx
  reader/components/pdf-highlighter/components/Highlights.jsx
  reader/components/pdf-highlighter/utils/rects.js
Due: yarn format

Show wikipedia suggestions
  package.json
  reader/components/pdf-highlighter/PDFHighlighter.jsx
  reader/components/pdf-highlighter/PDFHighlighter.scss
  reader/components/pdf-highlighter/components/ContextMenu.jsx
  src/components/pdf-highlighter/utils/wiki-suggestions.js
  yarn.lock
Due: yarn format, prettier --write

Create new annotation - add textarea box
  reader/components/pdf-highlighter/PDFHighlighter.jsx
  reader/components/pdf-highlighter/PDFHighlighter.scss
  reader/components/pdf-highlighter/components/ContextMenu.jsx
  reader/components/pdf-highlighter/components/Highlight.jsx
  reader/components/pdf-highlighter/components/Highlights.jsx
  reader/utils/throttle.js
Due: yarn format, prettier --write

Attach `mouseUp` event handler properly
  reader/components/pdf-highlighter/PDFHighlighter.jsx
  reader/components/pdf-viewer/PDFViewer.jsx
Due: yarn format

Optimize svg icons
  src/components/icons/assets/copy.svg
  src/components/icons/assets/create-new-annotation.svg
  src/components/icons/assets/search.svg
  src/components/icons/assets/wiki.svg
Due: none

Adapt context menu icons to new UI approach
  reader/components/pdf-highlighter/PDFHighlighter.scss
  reader/components/pdf-highlighter/components/ContextMenu.jsx
Due: yarn format, prettier --write

Fix after nextjs rebase
  reader/components/header/Header.jsx
  reader/components/icons/assets/copy.svg
  reader/components/icons/assets/create-new-annotation.svg
  reader/components/icons/assets/search.svg
  reader/components/icons/assets/wiki.svg
  reader/components/pdf-highlighter/utils/wiki-suggestions.js
  yarn.lock
Due: yarn format

Add express routing
  next.config.js
  now.json
  package.json
  pages/[pdfId].jsx
  server.js
  yarn.lock
Due: yarn format, prettier --write

Add express routing (#67)
  next.config.js
  now.json
  package.json
  pages/[pdfId].jsx
  server.js
  yarn.lock
Due: yarn format, prettier --write

Fix worker 404 not found
  next.config.js
Due: yarn format

Fix worker 404 not found (#68)
  next.config.js
Due: yarn format

Remove Express server
  next.config.js
  now.json
  package.json
  server.js
  yarn.lock
Due: yarn format, prettier --write

Remove Express server (#69)
  next.config.js
  now.json
  package.json
  server.js
  yarn.lock
Due: yarn format, prettier --write

Add GA tracking code
  .env.example
  .eslintrc.yml
  next.config.js
  package.json
  pages/[pdfId].jsx
  reader/components/pdf-viewer/PDFViewer.jsx
  utils/withGoogleAnalytics.jsx
  yarn.lock
Due: yarn format, prettier --write

Add GA tracking code (#80)
  .env.example
  .eslintrc.yml
  next.config.js
  package.json
  pages/[pdfId].jsx
  reader/components/pdf-viewer/PDFViewer.jsx
  utils/withGoogleAnalytics.jsx
  yarn.lock
Due: yarn format, prettier --write

Add tooltips to buttons
  reader/components/header/Header.jsx
  reader/components/pdf-toolbar/PDFToolbar.jsx
Due: yarn format

Add favicons
  pages/[pdfId].jsx
  static/favicon/favicon-128px.png
  static/favicon/favicon-256px.png
  static/favicon/favicon-32px.png
  static/favicon/favicon-512px.png
  static/favicon/favicon-64px.png
  static/favicon/favicon.svg
Due: yarn format

Allow to track referrer for anybody
  pages/[pdfId].jsx
Due: yarn format

Change middle icon to CORE logo
  reader/components/header/Header.jsx
  reader/components/logo/Logo.jsx
  reader/components/logo/Logo.scss
  reader/components/logo/assets/core-symbol.svg
Due: yarn format, prettier --write

Remove info icon
  reader/components/icons/Icon.jsx
  reader/components/icons/assets/info.svg
Due: yarn format

Create issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Create issue templates (#83)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Adjustments after review
  pages/[pdfId].jsx
  reader/components/header/Header.jsx
  reader/components/icons/Icon.jsx
  reader/components/icons/assets/core-symbol.svg
  reader/components/logo/Logo.jsx
  reader/components/logo/Logo.scss
  reader/components/pdf-toolbar/PDFToolbar.jsx
Due: yarn format, prettier --write

Button hints & CORE logo (#81)
  pages/[pdfId].jsx
  reader/components/header/Header.jsx
  reader/components/icons/Icon.jsx
  reader/components/icons/assets/core-symbol.svg
  reader/components/icons/assets/info.svg
  reader/components/pdf-toolbar/PDFToolbar.jsx
  static/favicon/favicon-128px.png
  static/favicon/favicon-256px.png
  static/favicon/favicon-32px.png
  static/favicon/favicon-512px.png
  static/favicon/favicon-64px.png
  static/favicon/favicon.svg
Due: yarn format

Better global store management
  reader/components/header/Header.jsx
  reader/components/main-area/MainArea.jsx
  reader/components/pdf-enhancement-sidebar/PDFEnhancementSidebar.jsx
  reader/components/pdf-highlighter/PDFHighlighter.jsx
  reader/components/pdf-highlighter/components/ContextMenu.jsx
  reader/components/pdf-highlighter/components/Highlights.jsx
  reader/components/pdf-loader/PDFLoader.jsx
  reader/components/pdf-outline-sidebar/PDFOutlineSidebar.jsx
  reader/components/pdf-outline-sidebar/renderers/OutlineRenderer.jsx
  reader/components/pdf-print/PDFPrint.jsx
  reader/components/pdf-thumbnails-sidebar/PDFThumbnailSidebar.jsx
  reader/components/pdf-toolbar/PDFToolbar.jsx
  reader/components/pdf-viewer/PDFViewer.jsx
  reader/index.jsx
  reader/store/GlobalProvider.jsx
  reader/store/configureContext.js
  reader/store/document/actions.js
  reader/store/document/reducers.js
  reader/store/index.jsx
  reader/store/metadata/reducers.js
  reader/store/reducers.js
  reader/store/ui/actions.js
  reader/store/ui/reducers.js
  reader/store/withAppContext.jsx
  yarn.lock
Due: yarn format

Rename deprecated `static` folder to `public`
  pages/[pdfId].jsx
  public/favicon/favicon-128px.png
  public/favicon/favicon-256px.png
  public/favicon/favicon-32px.png
  public/favicon/favicon-512px.png
  public/favicon/favicon-64px.png
  public/favicon/favicon.svg
Due: yarn format

Move redirection function outside of jsx
  reader/components/header/Header.jsx
Due: yarn format
